@font-face {
    font-family: "namun" ;
    src: url(/media/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
    font-weight: normal;
}

*{
    font-family: "namun", Fallback, 'Times New Roman', Times, serif; 
}

body{
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

:root {
    --thinBorder: 1px solid;
}

.title {
    font-size: 5rem;
}

.header{
    display: grid;
    grid-template-columns:  1fr 1fr;
}

@media(max-width: 850px){
    .header{
        grid-template-columns: none;
        grid-template-rows: 1fr;
    }
}

.headerUl{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.headerButton{
    border: var(--thinBorder, 1px) black;
    background: transparent;
    height: 3rem;
    width: 11rem;
    margin-bottom: 7px;
    cursor: pointer;
    color: black;
}

.headerNav{
    display: grid;
}

